<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<pages theme="Default"></pages>
		<compilation debug="true" targetFramework="4.0"/>
		<httpHandlers>
			<!--<add verb="*" path="*.lax" type="DensoftManager.Charting.ChatingHandler"/>-->
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
		</httpHandlers>
	</system.web>
	<connectionStrings>
		<add name="conn_str" connectionString= "Data Source=INFOCASIER-PC;Initial Catalog=ICS_APPO_20Feb2016;Integrated Security=True"/>
		<!--<add name="conn_str" connectionString= "Data Source=INFOCASIER-PC;Initial Catalog=ICS_04Sep2013;Integrated Security=True"/>-->
		<!--<add name="conn_str" connectionString= "Data Source=INFOCASIER-PC;Initial Catalog=ICS_Appo;Integrated Security=True"/>-->
	</connectionStrings>
</configuration>
